<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yamin.reader"
    android:versionCode="3"
    android:versionName="3.1" >
    <!--  -->
    <uses-sdk android:minSdkVersion="11" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="org.geometerplus.android.fbreader.FBReaderApplication"
        android:hardwareAccelerated="true"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
                  android:process=":library"
                  android:screenOrientation="portrait"
                  >
        </activity>
        <!--  -->
        <activity android:name=".activity.FileBrowserActivity"
            android:screenOrientation="portrait"
                  android:launchMode="singleTop">
                <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component-->
            </intent-filter>
            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
               <activity android:name=".activity.BookFavoriteActivity"
                   android:screenOrientation="portrait">
               </activity>
         <activity android:name=".activity.FileSearchResultActivity"
                   android:screenOrientation="portrait">
        </activity>
         <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data android:name="android.app.default_searchable"
                   android:value=".activity.FileBrowserActivity" />
        <activity
            android:name=".activity.CoreReadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.easyreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="fbreader-action" />
            </intent-filter>
            <intent-filter>
                <action   android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data     android:host=""
                          android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
            </intent-filter>
            <intent-filter>
                <action   android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
               <data
                    android:host=""
                    android:mimeType="text/plain"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPattern=".*\\.fb2"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host=""
                    android:scheme="file" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-pilot-prc" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!--  -->
        <activity
            android:name="org.geometerplus.android.fbreader.error.BookReadingErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":error" >
            <intent-filter>
                <action android:name="android.fbreader.action.ERROR" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="BookReadingException" />
            </intent-filter>
        </activity>
        <!--  -->
        <activity
            android:name="org.geometerplus.android.fbreader.crash.MissingNativeLibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":crash" >
            <intent-filter>
                <action android:name="android.easyreader.action.CRASH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ExceptionInInitializerError" />
            </intent-filter>
        </activity>
        <!--  -->
        <service
            android:name="org.geometerplus.android.fbreader.api.ApiService"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.fbreader.action.API" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
       <service android:name="org.geometerplus.android.fbreader.libraryService.LibraryService" 
                android:launchMode="singleTask" android:process=":libraryService">
			<intent-filter>
				<action android:name="android.fbreader.action.LIBRARY_SERVICE"/>
			</intent-filter>
		</service>
        <activity
            android:name="org.geometerplus.android.fbreader.CancelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme_dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.style.StyleListActivity"
             android:theme="@style/Theme_dialog"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.geometerplus.android.fbreader.style.EditStyleActivity"
            android:theme="@style/Theme_dialog"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.geometerplus.android.fbreader.image.ImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":imageView" />
        <activity
            android:name="org.geometerplus.android.fbreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.geometerplus.android.fbreader.BookmarksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":bookmarks" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.BookmarkEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
         <provider
            android:name=".database.BookContentProvider"
            android:authorities="com.yamin.reader.BookContentProvider" />
    </application>

</manifest>